.main {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;

	> nav {
		padding: 0.5em 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 2em;
		gap: 0.25em;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		background: var(--theme-color-primary-1);

		> * {
			color: var(--theme-color-on-primary-1);
		}
	}

	> main {
		position: relative;
		overflow: auto;
		background: var(--theme-color-neutral-4);
		color: var(--theme-color-on-neutral-4);
	}
}
